@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@400;600;700&display=swap');

.cabecera {
    object-fit: cover;
    width: 85%;
    height: 85%
}
.homeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

button > a {
    text-decoration:none;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: black;
}