@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@400;600;700&display=swap');
/* .App {
    margin:0;
    background-size: cover;
    background-image: url(https://res.cloudinary.com/dghnwllrc/image/upload/v1667404111/90885_ycrtyn.jpg);
} */
.cabecera {
    object-fit: cover;
    width: 80%;
    height: 80%
}
.homeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

button > a {
    text-decoration:none;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: black;
}